logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
edition
export
coverage
*.local

/cypress/videos/
/cypress/screenshots/

.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

games/desktop/target
games/desktop/icons
games/desktop/gen