@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

:root                            { 

  --font-main:    'Outfit',        sans-serif;
  --font-mono:    'Inconsolata',   monospace;
  --font-grotesk: 'Space Grotesk', sans-serif;

  --carbon-a02:  #1B1C1C05;
  --carbon-a06:  #1B1C1C10;
  --carbon-a08:  #1B1C1C15;
  --carbon-a15:  #1B1C1C25;
  --carbon-a21:  #1B1C1C35;
  --carbon-a31:  #1B1C1C50;
  --carbon-a40:  #1B1C1C65;
  --carbon-a50:  #1B1C1C80;
  --carbon-a56:  #1B1C1C90;
  --carbon-a60:  #1B1C1C99;

  --carbon:    #1B1C1C;

  --ceniza-a02:  #2B2C2C05;
  --ceniza-a06:  #2B2C2C10;
  --ceniza-a08:  #2B2C2C15;
  --ceniza-a15:  #2B2C2C25;
  --ceniza-a21:  #2B2C2C35;
  --ceniza-a31:  #2B2C2C50;
  --ceniza-a40:  #2B2C2C65;
  --ceniza-a50:  #2B2C2C80;
  --ceniza-a56:  #2B2C2C90;
  --ceniza-a60:  #2B2C2C99;

  --ceniza:    #2B2C2C;

  --polvo-a02:   #3C3C3C05;
  --polvo-a06:   #3C3C3C10;
  --polvo-a08:   #3C3C3C15;
  --polvo-a15:   #3C3C3C25;
  --polvo-a21:   #3C3C3C35;
  --polvo-a31:   #3C3C3C50;
  --polvo-a40:   #3C3C3C65;
  --polvo-a50:   #3C3C3C80;
  --polvo-a56:   #3C3C3C90;
  --polvo-a60:   #3C3C3C99;

  --polvo:     #3C3C3C;

  --humo-a02:    #AAABAC05;
  --humo-a06:    #AAABAC10;
  --humo-a08:    #AAABAC15;
  --humo-a15:    #AAABAC25;
  --humo-a21:    #AAABAC35;
  --humo-a31:    #AAABAC50;
  --humo-a40:    #AAABAC65;
  --humo-a50:    #AAABAC80;
  --humo-a56:    #AAABAC90;
  --humo-a60:    #AAABAC99;

  --humo:      #AAABAC;

  --niebla-a02:  #D8DADE05;
  --niebla-a06:  #D8DADE10;
  --niebla-a08:  #D8DADE15;
  --niebla-a15:  #D8DADE25;
  --niebla-a21:  #D8DADE35;
  --niebla-a31:  #D8DADE50;
  --niebla-a40:  #D8DADE65;
  --niebla-a50:  #D8DADE80;
  --niebla-a56:  #D8DADE90;
  --niebla-a60:  #D8DADE99;

  --niebla:    #D8DADE;

  --brillo-a02:  #F2F2F205;
  --brillo-a06:  #F2F2F210;
  --brillo-a08:  #F2F2F215;
  --brillo-a15:  #F2F2F225;
  --brillo-a21:  #F2F2F235;
  --brillo-a31:  #F2F2F250;
  --brillo-a40:  #F2F2F265;
  --brillo-a50:  #F2F2F280;
  --brillo-a56:  #F2F2F290;
  --brillo-a60:  #F2F2F299;

  --brillo:    #F2F2F2;

  --lirio-a02:   #986C9805;
  --lirio-a06:   #986C9810;
  --lirio-a08:   #986C9815;
  --lirio-a15:   #986C9825;
  --lirio-a21:   #986C9835;
  --lirio-a31:   #986C9850;
  --lirio-a40:   #986C9865;
  --lirio-a50:   #986C9880;
  --lirio-a56:   #986C9890;
  --lirio-a60:   #986C9899;

  --lirio:     #986C98;
  
  --cristal-a02: #8AB6BB05;
  --cristal-a06: #8AB6BB10;
  --cristal-a08: #8AB6BB15;
  --cristal-a15: #8AB6BB25;
  --cristal-a21: #8AB6BB35;
  --cristal-a31: #8AB6BB50;
  --cristal-a40: #8AB6BB65;
  --cristal-a50: #8AB6BB80;
  --cristal-a56: #8AB6BB90;
  --cristal-a60: #8AB6BB99;

  --cristal:   #8AB6BB;

  --arcilla-a02: #85494905;
  --arcilla-a06: #85494910;
  --arcilla-a08: #85494915;
  --arcilla-a15: #85494925;
  --arcilla-a21: #85494935;
  --arcilla-a31: #85494950;
  --arcilla-a40: #85494965;
  --arcilla-a50: #85494980;
  --arcilla-a56: #85494990;
  --arcilla-a60: #85494999;

  --arcilla:   #854949;

  --poma-a02:    #6FAC6705;
  --poma-a06:    #6FAC6710;
  --poma-a08:    #6FAC6715;
  --poma-a15:    #6FAC6725;
  --poma-a21:    #6FAC6735;
  --poma-a31:    #6FAC6750;
  --poma-a40:    #6FAC6765;
  --poma-a50:    #6FAC6780;
  --poma-a56:    #6FAC6790;
  --poma-a60:    #6FAC6799;

  --poma:      #6FAC67;

  --shadow-border: inset 0 0 0 1px;
  --small-outline: 1px solid;

  --radius-xl: 12px;
  --radius-ll: 10px;
  --radius-mm: 08px;
  --radius-ss: 05px;
  --radius-xs: 03px;

  --animate-fast: 0.25s ease;
  --animate-mid:  0.50s ease;
  --animate-long: 0.80s ease;

  --alpha-invisible: 0.00;
  --alpha-half:      0.50;
  --alpha-disabled:  0.25;

  --scale-min: scale(0.99);
  --scale-low: scale(0.95);

}

*                                { box-sizing: border-box; }

body                             { 

  /* LAYOUT */ display: grid; min-height: 100vh; padding: 0; margin: 0; grid-template-columns: 260px 1fr;
  /* FONT   */ font-family: 'Inconsolata', monospace; font-size: 13px; line-height: 1.4;
  /* FILL   */ background-color: var(--carbon); color: var(--humo);
  /* IMG    */ background-image: url(/assets/square.gif); background-repeat: repeat-x;

}

.static-nav                      { 

  /* LAYOUT */ display: flex; flex-direction: column; position: sticky; top: 0; overflow-y: auto;
  /* BOX    */ height: 100vh; padding: 2rem 1.5rem;

}

.site-logo                       { 

  /* FONT    */ font-size: 26px; font-weight: 700; letter-spacing: 2px; line-height: 1;
  /* BOX     */ margin-bottom: -0.8rem;
  /* FILL    */ color: var(--lirio);

}

.profile-box                     { 

  /* LAYOUT */ display: flex; flex-direction: column; align-items: flex-start;
  /* BOX    */ gap: 0.8rem; padding: 0.8rem; padding-top:1.15rem;
  /* BORDER */ border: 1px solid var(--polvo); box-shadow: inset 0 6px 0 0 var(--cristal); border-radius: 0;
  /* FILL   */ background-color: var(--carbon);
  
}

.profile-img                     { 

  /* LAYOUT */ display: block; object-fit: cover;
  /* BOX    */ width: 100%; height: 100%; margin: 0;
  /* BORDER */ border: 1px solid var(--polvo); border-radius: 0;
  
}

.separator-margin                { 

  /* BOX    */ padding-bottom: .25rem; margin-top: 1rem; margin-bottom: 1rem;
  /* BORDER */ border-bottom: 1px dashed var(--polvo); border-top: none;
  /* FONT   */ font-size: .9rem; font-weight: 700; text-transform: lowercase; letter-spacing: 1px; text-align: left;
  /* FILL   */ color: var(--lirio); 
  
}

.separator-nomargin              { 

  /* BOX    */ padding-bottom: .25rem; margin-bottom: -0.5rem;
  /* BORDER */ border-bottom: 1px dashed var(--polvo); border-top: none;
  /* FONT   */ font-size: .9rem; font-weight: 700; text-transform: lowercase; letter-spacing: 1px; text-align: left;
  /* FILL   */ color: var(--lirio); 
  
}

.post-content                    { 

  /* LAYOUT */ display: flex; flex-direction: column; overflow-y: auto;
  /* BOX    */ padding: 2rem 3rem; padding-right: 50vw; width: 100%;

}

.profile-link:hover .profile-img { border-color: var(--lirio); }

.sidebar-content                 { display: flex; flex-direction: column; gap: 1rem;      }
.site-subtitle                   { font-style: italic; color: var(--humo); opacity: 0.85; }
.profile-link                    { flex-shrink: 0; cursor: pointer;                       }

.cat-header                      { color: var(--cristal); font-weight: 700; opacity: 0.6; margin: .25rem; }

.nav-links                       { display: flex; flex-direction: row; align-items: flex-start; justify-content: space-between;    }
.nav-links a                     { display: inline-block; border: 1px solid var(--polvo); padding: 2px 6px; color: var(--cristal); }
.nav-links a:hover               { font-weight: 700; text-decoration: none; border-color: var(--cristal);                          }

.post-content p                  { margin-top: .5rem; margin-bottom: .5rem; }
.post-header                     { margin-bottom: 1rem;                     }
.post-content img                { border: none; max-width: 100%; height: auto; }
.post-content p a                { 

  /* FILL   */ background: linear-gradient(125deg, var(--cristal), var(--lirio)); background-clip: text;
  /* FONT   */ font-family: var(--font-main); text-decoration: underline; text-decoration-color: var(--cristal-a50); text-underline-offset: 3px; 
  /* MOTION */ transition: text-decoration-color 0.25s ease;
  /* WEBKIT */ -webkit-background-clip: text; -webkit-text-fill-color: transparent;

  &:hover { 
    
    /* FILL   */ background: linear-gradient(250deg, var(--cristal), var(--lirio)); background-clip: text;
    /* FONT   */ text-decoration: underline; text-decoration-color: var(--lirio);
    /* WEBKIT */ -webkit-background-clip: text; -webkit-text-fill-color: transparent;
  
  }

}

.YTVideo                         { width: 100%; }

.nota-prosa img                  { margin-top: 1rem; margin-bottom: .5rem; }
.nota-verso                      { margin-top: 2rem; display: flex; flex-direction: column; }
.nota-verso a                    {

  /* FILL   */ background: linear-gradient(125deg, var(--cristal), var(--lirio)); background-clip: text;
  /* FONT   */ font-family: var(--font-main); text-decoration: underline; text-decoration-color: var(--cristal-a50); text-underline-offset: 3px; 
  /* MOTION */ transition: text-decoration-color 0.25s ease;
  /* WEBKIT */ -webkit-background-clip: text; -webkit-text-fill-color: transparent;

  &:hover { 
    
    /* FILL   */ background: linear-gradient(250deg, var(--cristal), var(--lirio)); background-clip: text;
    /* FONT   */ text-decoration: underline; text-decoration-color: var(--lirio);
    /* WEBKIT */ -webkit-background-clip: text; -webkit-text-fill-color: transparent;
  
  }

}

.article-list                    { display: flex; flex-direction: column; gap: .5rem; list-style: none; padding: 0; margin: 0;     }
.article-list a                  { display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;                 }
.article-list a:hover            { color: var(--cristal);                                }
.article-list a::before          { content: ">"; margin-right: 8px; color: var(--polvo); }
.article-list a:hover::before    { color: var(--lirio);                                  }

.post-header h1                  { 

  /* FONT   */ font-family: 'Inconsolata', monospace; font-variant: small-caps; line-height: 1.1;
  /* BOX    */ padding-bottom: .25rem; margin-bottom: .25rem;
  /* FILL   */ color: var(--cristal);
  /* BORDER */ border-bottom: 1px dashed var(--polvo);

}

.post-header .meta               { font-size: 1rem; font-style: italic; color: var(--lirio); }
.post-header img                 { border: none; margin: none;}

/* RESET --------------------------------------------------------------------------------------------- */

a:focus, button:focus, input:focus, textarea:focus, select:focus, tbody tr:focus-within { outline: none; box-shadow: inset 0 0 0 250px var(--lirio-a50), 0 0 0 2px var(--carbon-a60); transition: all var(--animate-fast); }

h1                               { margin: 0; }
p                                { margin: 0; max-width: none;                                     }
img                              { border: 1px solid var(--polvo); margin: none;                   }

video.gifvideo                   { display: block; max-width: 100%; width: 100%; height: auto;
                                   border: 1px solid var(--polvo);                                 }
ul, ol                           { margin-bottom: 1rem; padding-left: 1.2rem;                      }
li                               { margin: 0;                                                      }
hr                               { border: 0; border-top: 1px dashed var(--polvo); margin: 2rem 0; }
strong, b                        { color: var(--lirio);   font-weight: 700;                        }
i, em                            { color: var(--cristal); font-style: italic;                      }
a                                { color: var(--humo); text-decoration: none;                      }
a:hover                          { color: var(--cristal);                                          }

blockquote                       { 

  /* BORDER */ border-left: 3px solid var(--lirio);
  /* BOX    */ margin: 1.5rem 0; padding: 0.5rem 1rem;
  /* FILL   */ background-color: var(--ceniza);
  /* FONT   */ font-style: italic;

}

@supports not selector(::-webkit-scrollbar)   { *, *::before, *::after { scrollbar-width: thin; scrollbar-color: var(--lirio) transparent; }                   }

audio[controls]                               { width: 100%; background: var(--carbon);                                                                        }
audio::-webkit-media-controls-enclosure       { border: var(--small-outline) var(--humo-a15); border-radius: var(--radius-ss); background-color: var(--lirio-a21); }
audio::-webkit-media-controls-enclosure:hover { background-color: var(--lirio-a40);                                                                              }

::selection                      { background-color: var(--lirio); color: var(--carbon);   }
::-moz-selection                 { background-color: var(--lirio); color: var(--carbon);   }
::-webkit-scrollbar              { background-color: transparent; width: 4px; height: 4px; }
::-webkit-scrollbar-thumb        { background-color: var(--lirio); border-radius: 0;       }
::-webkit-scrollbar-track        { background: transparent; border-radius: 0;              }
::-webkit-scrollbar-button       { display: none; width: 0; height: 0;                     }
::-webkit-scrollbar-corner       { background-color: transparent;                          }

@media (max-width: 900px)        { 
  
  body          { grid-template-columns: 1fr; }
  .static-nav   { height: auto; position: relative; border-right: none; border-bottom: 1px solid var(--polvo); padding: 1.5rem; }
  .post-content { padding: 1.5rem; padding-right: 1.5rem; }
  .nav-links    { flex-direction: row; flex-wrap: wrap;   }

}