<!DOCTYPE html>

<html lang="{{langTag}}">

  <head>

    {{head}}

  </head>

  <body>

    <noscript class="archive">
    <aside class="static-nav">
      
      <div class="sidebar-content">

        <div class="site-logo">OCTANTES</div>
        <div class="site-subtitle">{{subtitle}}</div>

        <div class="profile-box">

          <a href="https://x.com/octantes" target="_blank" class="profile-link">
            <img src="/assets/kaste.webp" alt="kaste avatar" class="profile-img">
          </a>

          <div class="profile-text">
            <strong>kaste</strong>
            <br>
            <i>{{bio}}</i>
          </div>

        </div>

        <nav class="nav-links">
          <div class="nav-row">
            <a href="/{{navArchiveHref}}">{{navArchive}}</a>
            <a href="/">[PORTAL]</a>
          </div>
          <div class="nav-row">
            <a href="/feed.xml">[RSS]</a>
            <a href="{{toggleHref}}">{{toggleLabel}}</a>
          </div>
          <div class="nav-row">
            <a href="{{portfolioHref}}">[PORTFOLIO]</a>
          </div>
        </nav>

        <div class="separator-nomargin">{{navArticles}}</div>
        
        <ul class="article-list">{{sidebarLinks}}</ul>

      </div>

    </aside>

    <main class="post-content" data-type="{{postType}}">

      <header class="post-header">
        <h1>{{title}}</h1>
        <div class="meta">{{meta}}</div>
      </header>
      
      {{htmlContent}}

    </main>

    </noscript>

    <script>if (document.documentElement.classList.contains('archive')) { var archive = document.querySelector('noscript.archive'), view = document.querySelector('template[data-view="' + document.documentElement.dataset.view + '"]'); if (view) document.documentElement.lang = view.lang; archive.outerHTML = view ? view.innerHTML : archive.textContent }</script>

    <div id="octantes"></div>

  </body>

</html>