html, body, #octantes {
  box-sizing: border-box;
  background-color: #1b1c1c;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#octantes > .root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}